:root {
  --base: #cfcfcf;
  --text: #212121;
  --button-base: #1a1a1a;
  --button-text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: #212121;
    --text: #cfcfcf;
  }
}
:root:has(#theme [value='dark']:checked) {
  color-scheme: dark;
  --base: #212121;
  --text: #cfcfcf;
  --button-base: #1a1a1a;
  --button-text: white;
}
:root:has(#theme [value='light']:checked) {
  color-scheme: light;
  --base: #cfcfcf;
  --text: #212121;
  --button-text: #1a1a1a;
  --button-base: white;
}

body {
  color: var(--text);
  background: var(--base);
  font-size: 1.5rem;
}

input,
select {
  font: inherit;
}

.theme-selector {
  position: absolute;
  top: 0;
  left: 0;
}

button {
  background-color: var(--button-base);
}
